.search-exercises {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 40px;
    font-weight: 600;
    span {
      margin-top: 0.7rem;
      display: inline-block;
    }
  }
  .search-exercises-input {
    margin-top: 2rem;
    input {
      border: 1px solid green;
      padding: 0.5rem;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    button {
      padding: 0.5rem 2rem;
      border-top-right-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
